* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px;
}

h1 {
    color: steelblue;
    padding: 10px;
    text-align: center;
    border-bottom: 1.5px solid steelblue;
    margin-bottom: 20px;
    
}

main img { 
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 10px;
}

.grid {
    display: grid;
    margin: 1rem;
}

main {
    grid-column: 2/3;
    align-items: center;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

p { padding: 10px;}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectos*/

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2.1rem;
    background-color: #C1CAD6;
    color: #110B11;
}

aside h2 {
    position: absolute;
    top: 23px;
    left: 100px;
}
